body {
  transition: 0.2s all;
  background: #fff;
  --background: #fff;
  --colorText: black;
  --colorTextOpacity-5: rgba(0, 0, 0, 0.5);
  --colorTextOpacity-7: rgba(0, 0, 0, 0.7);

  --inputBackground: #fff;
  --inputBorder: #ced4da;
}

.dark {
  transition: 0.2s all;
  background: #093545;
  --background: #093545;

  --colorText: #fff;
  --colorTextOpacity-5: rgba(255, 255, 255, 0.5);
  --colorTextOpacity-7: rgba(255, 255, 255, 0.7);

  --inputBackground: #224957;
  --inputBorder: #224957;
}
