:root {
  --sizeSidebar: 250px;
}

.dashboard {
  display: flex;
  min-height: 100vh;
  transition: 0.5s all ease-in-out;
  background-color: var(--contentBackground);
}

//SIDEBAR
.sidebar {
  width: (var(--sizeSidebar));
  height: 100vh;
  background: var(--sidebarBackground);
  overflow-y: hidden;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  border-right: 1.5px solid var(--sidebarBorder);
  transition: 0.5s all;
  z-index: 100;

  &:hover {
    overflow-y: auto;
  }
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-track {
    background: var(--sidebarBackground);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--colorScroll);
    border-radius: 10px;
    transition: 2s all;
  }
}

.sidebar-container {
  width: (var(--sizeSidebar));
  padding: 1rem;
  border-bottom: 1.5px solid var(--sidebarBorder);
}

.sidebar-header {
  padding-top: 1rem;
}

.sidebar-image {
  height: 50px;
  width: 50px;
  background: gray;
  margin: 0 auto;
  border-radius: 50%;
}
.sidebar-name {
  font-size: 20px;
  font-weight: 500;
  color: var(--sidebarText);
  display: flex;
  align-items: center;
}

.sidebar-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--sidebarSubtitle);
  padding-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}

.sidebar-item {
  display: flex;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.3rem 0.5rem;
  color: var(--sidebarText);
  p {
    padding-left: 1.5rem;
    font-weight: 500;
    font-size: 14px;
  }
  svg {
    font-size: 1.3rem;
  }
}
.sidebar-item-active {
  background: var(--sidebarBackgroundItemActive);
  color: var(--sidebarTextItemActive);
}

.sidebar-close {
  position: absolute;
  top: 0;
  left: 0;
  button {
    border: none;
    background: transparent;
    color: var(--sidebarText);
  }
}
.sidebar-open {
  position: absolute;
  top: 0;
  left: 0;
  transition: 2s all;
  z-index: 100;
  button {
    border: none;
    background: transparent;
    color: var(--sidebarText);
  }
}

//CONTENT
@keyframes animationPage {
  0% {
    right: calc(100vw - (var(--sizeSidebar)));
  }

  100% {
    right: 0px;
  }
}

.content {
  position: relative;
  overflow-y: auto;
  width: calc(100vw - (var(--sizeSidebar)));
  margin-left: (var(--sizeSidebar));
  background-color: var(--contentBackground);
  transition: 0.5s all;
  padding: 2rem;
  padding-bottom: 6rem;

  animation: animationPage 0.5s;
  overflow-x: hidden;

  p {
    font-size: 4rem;
    color: var(--sidebarText);
  }

  @media screen and (max-width: 768px) {
    width: 100vw;
    margin-left: 0;
  }
}

.content-title {
  padding-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  h3 {
    font-size: 35px;
    margin: 0;
    color: var(--BreadCrumdColorTitle);
  }
  span {
    font-weight: 600;
    padding-left: 1rem;
    font-size: 20px;
    color: var(--BreadCrumdColorSubtitle);
  }
}

.spinner {
  color: var(--colorText);
  width: 7rem;
  height: 7rem;
}

//COLLAPSE

.dashboard-collapse {
  .sidebar {
    width: 0px;

    transition: 0.3s all ease-in-out;
  }
  .content {
    width: 100vw;
    margin-left: 0px;
    transition: 0.3s all ease-in-out;
  }
}

// SECTIONS

/******************/
/* PrincipalContent */
/******************/
.content-card-info {
  .card-title {
    font-size: 17px;
    color: var(--cardTextTitle);
    margin: 0;
    padding-top: 1rem;
    font-family: "Manrope", sans-serif;
  }
  p {
    font-size: 20px;
    font-weight: 600;
    color: var(--cardText);
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1.5rem;
    font-family: "Roboto", sans-serif;
  }

  svg {
    font-size: 60px;
    color: var(--cardTextTitle);
  }
}

.content-card-icon {
  padding-left: 2.5rem !important;
}
.card-body-content {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/******************/
/* PrincipalContent */
/******************/

/******************/
/* ProfileContent */
/******************/
.profile-container {
  position: absolute;
  top: -15px;
  display: flex;
  align-items: flex-end;
  .card-title {
    padding-left: 10px;
    font-weight: 400;
    font-size: 22px;
    color: var(--cardTitle);
    text-transform: uppercase;
  }
}
.profile-container-icon {
  width: 55px;
  height: 55px;
  background: var(--profileBackground) !important;
  color: var(--cardIcon);
  border-radius: 3px;
  display: grid;
  place-items: center;
}

/******************/
/* ProfileContent */
/******************/

/******************/
/* TemplatesContent */
/******************/
.container-templates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .template {
    width: 250px;
    margin-bottom: 1rem;
    min-height: 250px;
    background-color: var(--templateBackground);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.1s all;
    &:hover {
      transform: scale(1.05) translateY(20px);
      transition: 0.1s all;
    }
    &:active {
      transform: scale(0.95);
      transition: 0.1s all;
    }
  }

  .template-img {
    height: 150px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;

    img {
      border-radius: 5px 5px 0 0;
      height: 100%;
      width: 100%;
    }
  }

  .template-content {
    padding-top: 1rem;
    text-align: center;
    min-height: 100px;

    h3 {
      font-size: 18px;
      margin: 0;
      color: var(--templateColorTitle);
    }
    .description {
      font-size: 16px;
      color: var(--templateColorDescription);
    }

    .price {
      padding: 1rem 0;
      font-size: 20px;
      font-weight: 600;
      color: var(--templateColorTitle);
      span {
        padding-right: 2px;
      }
    }
    .availableTemplate {
      font-size: 18px;
      background: var(--availableColor);
      color: white;
      height: 40px;
      line-height: 40px;
      border-radius: 0 0 5px 5px;
    }
    .successTemplate {
      font-size: 18px;
      background: var(--successColor);
      color: white;
      height: 40px;
      line-height: 40px;
      border-radius: 0 0 5px 5px;
    }
  }
}

.backTemplate {
  display: flex;
  align-items: center;
  cursor: pointer;
  span {
    padding-bottom: 2px;
  }
}

.template-carousel {
  .slide .img-carousel {
    height: 400px;
  }
  .carousel .thumbs {
    display: flex;
    overflow-x: hidden;
    flex-wrap: wrap;
    width: 100%;
  }
}

/******************/
/* TemplatesContent */
/******************/
